.courseMain {
  width: 100%;
  padding-top: 60px;
  padding-left: 140px;
  padding-right: 140px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.courseImageContainer {
  width: 1160px;
  height: 310px;
  transform: rotate(0deg);
  opacity: 1;
  border-radius: 30px;
  overflow: hidden;
}

.courseImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 30px;
}

.courseFrame {
  width: 1160px;
  height: 225px;
  transform: rotate(0deg);
  opacity: 1;
  gap: 17px;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
}

.courseTitle {
  width: 810px;
  height: 44px;
  transform: rotate(0deg);
  opacity: 1;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 40px;
  line-height: 110%;
  letter-spacing: 0px;
  font-variant-numeric: lining-nums proportional-nums;
  color: #000000;
  margin: 0;
}

/* Мобильная версия */
@media (max-width: 768px) {
  .courseMain {
    padding-top: 40px;
    padding-left: 16px;
    padding-right: 16px;
  }

  .courseImageContainer {
    width: 100%;
    max-width: 343px;
    height: 310px;
  }

  .courseFrame {
    width: 100%;
    max-width: 343px;
    height: 225px;
  
  }

  .courseTitle {
    width: 100%;
    max-width: 327px;
    height: auto;
    font-size: 24px;
    line-height: 110%;
  }
}
